.page.theme_dark {
  --bg-cover: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --main-title-color: #DB00FF;
  --theme-accent-color: #FF0070;
  --font-color: #F1B2CE;
  --bg-button-color: transparent;
  --main-font-family: "IBM Plex mono", monospace;
  --main-font-size: 18px;
  --main-gap: 10px;
  --nav-color: #FF0070;
  --shadow-color: #FF0070;
  --content-title-color: #FF0070;
  --content-subtitle-color: #000028;
  --visibility: visible;
  --bg-subtitle: #FF0070;
  --hover-outline: rgba(255, 0, 112, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-cover: url("../images/cover-image-dark.png");
    --bg-color: #000028;
    --main-title-color: #DB00FF;
    --theme-accent-color: #FF0070;
    --font-color: #F1B2CE;
    --bg-button-color: transparent;
    --main-font-family: "IBM Plex mono", monospace;
    --main-font-size: 18px;
    --main-gap: 10px;
    --nav-color: #FF0070;
    --shadow-color: #FF0070;
    --content-title-color: #000028;
    --content-subtitle-color: #000028;
    --visibility: visible;
    --bg-subtitle: #FF0070;
    --hover-outline: rgba(255, 0, 112, 0.5);
  }
}
