.page.theme_light {
  --bg-cover: url("../images/cover-image-light.png");
  --bg-color: #fff;
  --main-title-color: #FFC2E6;
  --theme-accent-color: #FFC2E6;
  --shadow-color: #FF8DCB;
  --font-color: #353430;
  --bg-button-color: transparent;
  --main-font-family: "IBM Plex mono", monospace;
  --main-font-size: 18px;
  --main-gap: 10px;
  --nav-color: #353430;
  --content-title-color: #353430;
  --content-subtitle-color: #353430;
  --visibility: hidden;
  --bg-subtitle: #FF8DCB;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-cover: url("../images/cover-image-light.png");
    --bg-color: #fff;
    --main-title-color: #FFC2E6;
    --theme-accent-color: #FFC2E6;
    --shadow-color: #FF8DCB;
    --font-color: #353430;
    --bg-button-color: transparent;
    --main-font-family: "IBM Plex mono", monospace;
    --main-font-size: 18px;
    --main-gap: 10px;
    --nav-color: #353430;
    --content-title-color: #353430;
    --content-subtitle-color: #353430;
    --visibility: hidden;
    --bg-subtitle: #FF8DCB;
  }
}