:root {
  --bg-cover: url("../images/cover-image.png");
  --bg-color: #000028;
  --main-title-color: #DB00FF;
  --theme-accent-color: #FF0070;
  --font-color: #F1B2CE;
  --bg-button-color: transparent;
  --main-font-family: "IBM Plex mono", monospace;
  --main-font-size: 18px;
  --main-gap: 10px;
  --nav-color: #FF0070;
  --content-title-color: #FF0070;
  --shadow-color: #FF0070;
  --content-subtitle-color: #000028;
  --visibility: visible;
  --bg-subtitle: #FF0070;
  --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --hover-outline: rgba(255, 0, 112, 0.5);
}

@media (width >= 768px) {
  :root {
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
}


